/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --button-color: #353430;
  --decor-color: #353430;
  --accent-color: #ff8dcb;
  --bg-color: #ffeef6;
  --text-color: #353430;
  --h-color: #ffc2e6;
  --accent-text-color: #353430;
  --non-decor-text: #353430;
  --hover-color: rgba(50, 49, 45, 0.4);
  --common-header-shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-light.png);
  --hidden-element: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --button-color: #353430;
    --decor-color: #353430;
    --accent-color: #ff8dcb;
    --bg-color: #ffeef6;
    --text-color: #353430;
    --h-color: #ffc2e6;
    --accent-text-color: #353430;
    --non-decor-text: #353430;
    --hover-color: rgba(50, 49, 45, 0.4);
    --common-header-shadow-color: #ff0070;
    --bg-image: url(../images/cover-image-light.png);
    --hidden-element: hidden;
  }
}
