/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  margin: 0px;
  min-width: 375px;
  background-image: var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: var(--bg-color);
}

.header__theme-menu {
  text-align: end;
  margin: 74px 10px 0 0;
}

.header__theme-menu-list {
  display: grid;
  gap: 10px;
}

.header__theme-menu-item {
  list-style-type: none;
}

.header__theme-menu-button {
  text-transform: lowercase;
  color: var(--button-color);
  font-family: var(--font-family_page);
  font-size: 18px;
  background-color: transparent;
  border: 1px solid transparent;
  line-height: 18px;
  appearance: none;
  cursor: pointer;
  width: 70px;
  height: 26px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header {
  margin: 0 0 40px 0;
  grid-template-rows: 190px 216px 117px;
  gap: 40px;
}

.common-styles {
  height: 100vh;
  position: relative;
  display: grid;
}

.decorated-zone::before {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
  inset-inline-end: var(--side-padding);
  margin: 10px 0px 0 0px;
}

.decorated-zone::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
  inset-block-end: var(--side-padding);
  margin: 0px 0px 0px 10px;
}

.decoration {
  position: absolute;
  color: var(--decor-rec-color);
  font-family: var(--font-family_page);
  font-size: 18px;
  text-transform: uppercase;
  inset-inline-end: 30px;
  margin: 12px 8px 0 0px;
  visibility: var(--hidden-element);
}

.decoration::after {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  border-radius: 50%;
  color: var(--decor-rec-color);
  box-shadow: 0px 0px 4px var(--decor-rec-color);
  background-color: var(--decor-rec-color);
  margin: 6px 0px 0px 12px;
}

.main_text {
  color: var(--h-color);
  font-family: var(--font-family_page);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 0.825;
}

.header_about {
  text-shadow: 4px 4px 0px var(--accent-color);
  margin: 10px 0px 0px 10px;
}

.header_text {
  max-width: 355px;
  justify-self: end;
  color: var(--accent-text-color);
  font-family: var(--font-family_page);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  background-color: var(--accent-color);
  margin: 0px 10px 0 10px;
  line-height: 23.4px;
}

.main {
  margin: 0 10px 0 10px;
}

.common-text-main {
  font-family: var(--font-family_page);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.title-decor {
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  margin: 0 0 10px 0;
}

.title-none-decor {
  color: var(--non-decor-text);
  margin: 0px 0px 20px 0px;
}

.content-part-rows {
  margin: 0 0 50px 0;
}

.content-part-columns {
  margin: 0 0 50px 0;
}

.content-text {
  color: var(--text-color);
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.title-decor-simple {
  font-weight: 400;
}

.title-simple-gap {
  margin: 20px 0 10px 0;
}

.link-decoration {
  color: var(--text-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.link-decoration:hover {
  border-block-end: 1px solid var(--text-color);
}

.link-decoration:focus {
  outline: none;
}

.link-decoration:focus-visible {
  outline: 1px solid var(--text-color);
}

.pictures {
  margin: 10px 0px 0px 0px;
}

.picture {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  margin: 0px 0 7px 0;
}

.footer {
  margin: 30px 0 0 0;
}

.footer-text {
  text-shadow: 2px 2px 0px var(--accent-color);
  place-self: center;
}

@media (width>=768px) {
  .header {
    margin: 0 0 61px 0;
    grid-template-rows: 329px 292px 140px;
  }

  .common-styles {
    min-height: 1024px;
  }

  .header__theme-menu {
    margin: 192px 20px 0px 0px;
  }

  .decorated-zone::before {
    margin: 20px 10px 0 0;
  }

  .decorated-zone::after {
    margin: 0 0 7px 20px;
  }

  .decoration {
    margin: 22px 18px 0 0;
  }

  .header_about {
    margin: 95px 0px 0px 0px;
  }

  .main_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header_text {
    max-width: 364px;
    margin: 25px 20px 0px 0px;
  }

  .main {
    margin: 0 20px 0 20px;
  }

  .title-decor {
    margin: 0px 0px 0px -7px;
  }

  .title-none-decor {
    margin: 0 0 20px 0;
  }

  .content-text {
    margin: 10px 0px 19px -6px;
  }

  .content-part-rows {
    display: grid;
    grid-template-columns: 32% 64%;
    gap: 10px;
    justify-content: space-between;
    margin: 0px 0 60px 0;
  }

  .content-part-columns-list {
    margin: 0 0 81px 6px;
  }

  .title-fix-box {
    max-width: 236px;
  }

  .picture {
    margin: 0;
  }

  .title-simple-gap {
    margin: 18px 1px 0 -7px;
  }

  .pictures_content_title {
    margin: 0px 0px 20px 0px;
  }

  .pictures {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 0 0 0 0;
  }
  .picture_sunset {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .picture_ice-cream {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .picture_tape {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .picture_books {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .picture_street {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .footer {
    margin: 62px 0 0 0;
  }
}

@media (width>=1024px) {
  .header {
    margin: 0 0 59px 0;
    grid-template-rows: 187px 276px 100px;
  }

  .common-styles {
    min-height: 768px;
  }

  .header__theme-menu {
    margin: 0px 0px 0px 40px;
  }

  .decorated-zone::before {
    margin: 20px 10px 0 0;
  }

  .decorated-zone::after {
    margin: 0px 0px 10px 20px;
  }

  .decoration {
    margin: 21px 19px 0 0px;
  }

  .header__theme-menu-list {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 357px;
    max-width: 230px;
    list-style: none;
    gap: 0px;
  }

  .header_about {
    margin: 93px 0 0 0px;
    text-shadow: 4px 4px 0px var(--common-header-shadow-color);
  }

  .header_text {
    min-width: 491px;
    justify-self: end;
    margin: 20px 20px 10px 0;
  }

  .title-fix-box {
    max-width: 315px;
  }

  .content-part-rows {
    gap: 20px;
    grid-template-columns: 32% 66%;
    margin: 0 0 58px 0;
  }

  .content-part-columns {
    margin: 0 0 59px 0;
  }

  .content-part-columns-list {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    gap: 20px;
    margin: 0px 0 0px 0px;
  }

  .content-text {
    margin: 0px 0 20px 0px;
  }

  .title-decor-simple {
    margin: 0px 0 0 0px;
  }

  .title-decor {
    margin: 0 0 10px 0;
  }

  .title-none-decor {
    margin: 0 0 20px 0;
  }

  .title-simple-gap {
    margin: 20px 0 10px 0px;
  }

  .footer {
    margin: 60px 0 0 0;
  }

  .pictures {
    margin: 19px 0 0 0;
  }

  .footer-text {
    text-shadow: 2px 2px 0px var(--common-header-shadow-color);
  }
}
