/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --bg-color: #000028;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --decor-rec-color: #ff0070;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --non-decor-text: #ff0070;
  --h-color: #db00ff;
  --hover-color: rgba(255, 0, 112, 0.4);
  --side-padding: 10px;
  --font-family_page: "IBM Plex Mono", monospace;
  --common-header-shadow-color: #ff0070;
  --bg-image: url(../images/cover-image-dark.png);
  --hidden-element: visible;
}
